main{
    position: relative;
    margin-top: 5em;
   
}

/*verborgen*/
h1{
    position: fixed;
    left:-999999em;
    top: 0;
}

p{
    color: #6F6464;
}



/*
main section:nth-of-type(1) ul {
    display:flex;
  overflow-x:scroll;
    border-bottom: 2px solid #e4e4e4;
    width: 100%;
  scroll-snap-type: x mandatory;
  overscroll-behaviour: contain;
    

    list-style-type: none;
    padding: 0;
    
}



main section:nth-of-type(1) ul li {
  flex-shrink:0;
  flex-basis:90%;
  scroll-snap-align:center;
  height:8em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
    
}


main section:nth-of-type(1) ul img{
    width: 100%;
    position: relative;
}
*/





/*kopjes*/



main section:nth-of-type(2) ul {
    list-style: none;
    padding: 0;
    border-bottom: 2px solid #e4e4e4;
    margin: 8px;
}

main section:nth-of-type(2) ul li{
   display: flex;
    flex-direction: column;
}

main section:nth-of-type(2) ul li img{
    width: 100%;
/*     position: relative;*/
    text-align: center;
    order: 100;
    
}

main section:nth-of-type(2) ul h2{
    text-align: center;
    order: 300;
}

main section:nth-of-type(2) ul p{
    text-align: center;
    font-size: 12.6px;
    padding: 1em;
    order: 500;
}

main section:nth-of-type(2) ul li a{
    text-align: center;
    justify-content: center;
    position: relative;
    width:100%;
    aspect-ratio:100/55;
    background-size: 100% auto;
    background-position: center center;
    transition: .3s;

    display:grid;
    place-content: center;
}

main section:last-of-type li:hover a{
  background-size: 110% auto;
}

main section:nth-of-type(2) ul li:nth-of-type(1) a{
    background-image: url("../images/proces.png");
}

main section:nth-of-type(2) ul li:nth-of-type(2) a{
    background-image: url("../images/tostichef.png");
}

main section:nth-of-type(2) ul li:nth-of-type(3) a{
    background-image: url("../images/colombia.png");
}

main section:nth-of-type(2) ul li:nth-of-type(4) a{
    background-image: url("../images/news.png");
}

main section:nth-of-type(2) ul li:nth-of-type(5) a{
    background-image: url("../images/news2.png");
}

main section:nth-of-type(2) ul li:nth-of-type(6) a{
    background-image: url("../images/news3.png");
}

main section:first-of-type ul li section p{
  display: none;
} 

main section:first-of-type ul li p{
  display: block;
} 

/*.biplace:nth-of-type(3) .image:nth-child(3)*/





main section:nth-of-type(2) ul a span{
  display:block;
  color: white;
  background-color: red;
  padding:.25em;
}

main section:last-of-type li:nth-of-type(3) a span{
  background-color: black;
}

main section:last-of-type li:last-of-type a span{
  background-color: orange;
}

main section:nth-of-type(2) ul a span::after {
  content:attr(data-txt);
}


main section:nth-of-type(2) ul li a:hover span {
  background-color: black;
}

main section:nth-of-type(2) ul a:hover span::after {
  content:attr(data-hvr);
}





  
/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	--caroCarrouselMainColor:#333;
  --caroCarrouselAccentColor:#1b75b3;
	--caroCarrouselShadeColor:#ddd9;

  position: relative;
  overflow: hidden; /* om de linkbuttons te verbergen */
	outline:none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .caroCarrousel {
    --caroCarrouselMainColor:#ccc;
    --caroCarrouselShadeColor:#4449;
  }
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth scrollen */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
}

.caroCarrousel > ul li section figure{
    width: 100%;
    height: 12.5em;
}

.caroCarrousel > ul li section figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 50%; 
	bottom: 0;
	margin: 0;
  padding: 0 0 .5em;
  list-style: none;
	
	display: flex;
/* 	flex-wrap:wrap; */
  justify-content: center;
  gap:.4em;
    width: 1em;
    height: 1em;
}

/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: 1.2em;
	aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width:100%;
  height:100%;
  
  text-decoration: none;
	color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
	border-radius: 50%;
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  
  transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}


/****************************/
/* PREV EN NEXT LINKBUTTONS */
/****************************/
.caroCarrousel > a {
  position: absolute;
  width: 3em;
  aspect-ratio:1/1;
	top: calc(50% - 1.5em);
  
  color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
	
  display:grid;
  place-items:center;
  
  transition: 0.5s;
}

/* initieel staan de links "buiten beeld" */
.caroCarrousel > a[href="previous"] {
  left:-3.5em;
}
.caroCarrousel > a[href="next"] {
  right: -3.5em;
}

/* bij hover en focus schuiven de links in beeld */
.caroCarrousel:hover > a[href="previous"],
.caroCarrousel:focus-within > a[href="previous"] {
  left:.5em;
}
.caroCarrousel:hover > a[href="next"],
.caroCarrousel:focus-within > a[href="next"] {
  right:.5em;
}

/* prev en next linkbuttons pijltjes */
.caroCarrousel > a::before,
.caroCarrousel > a::after {
  content: "";
  position: absolute;
  width: 1em; height: 4px;
  background-color: currentColor;
}

.caroCarrousel > a[href=previous]::before {
	transform-origin: 2px center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=previous]::after {
	transform-origin: 2px center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a[href=next]::before {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=next]::after {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a:hover,
.caroCarrousel > a:focus {
  color: var(--caroCarrouselAccentColor);
}

#bolletjesAndLinkButtons ul li section{
 position: relative;
    width: 100%;
}

#bolletjesAndLinkButtons ul li section img{
 width: 100%;
}

#bolletjesAndLinkButtons ul li section h2{
 position: absolute;
    top: 0;
    color: white;
    margin: 1em;
}

 #bolletjesAndLinkButtons ul li section a{
 position: absolute;
    color: white;
    background-color: red;
    display: block;
    top: 2em;
    margin: 2em;
}

#bolletjesAndLinkButtons ul li p{
    margin: 1em 1em 2em 1em;
}





@media screen and (min-width: 44em) {
  .caroCarrousel > ul li section figure {
    
    height: 26em;
}
main nav{
  display: none;
}
  
  main section:last-of-type ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
  }
  
  main section:last-of-type li{
    width: 49%;
  }

  main section:first-of-type ul li section p{
    display: block;
    position: absolute;
    color: white;
    
    display: block;
    top: 5em;
    margin: 2em
  } 

  main section:first-of-type ul li p{
    display: none;
  } 
  
  footer{
    flex-direction: row;
    align-items: top;
  }
}

@media screen and (min-width: 60em) {
  header{
    position: absolute;
    padding: 1.5em;
    margin: 0 1em 0 1em;
  }
  
  header nav{
    position: static;
    transform: translateX(0%);
    display: flex;
    flex-grow: 1;
  }
  
  header nav ul{
    flex-direction: row;
    display: flex;
    height: unset;
    margin-right: auto;
    justify-content: center;
    background-color: white;
    gap: 2em;
  }

  header nav ul li{
    width: auto;
    padding: 0;
    border-bottom: 0;
  }
  header nav ul form{
    display: none;
  }

  header nav ul li:last-of-type{
    margin: 0 0 0 5em;
    justify-content:end;
}

  header button{
    display: none;
  }

  header a svg{
    display: block;
  }

  
  main section:last-of-type ul{
    /* display: flex;
    flex-wrap: wrap; */
    gap: 2%;
    margin: 2em 5em 2em 5em;
    border-bottom: 0;
    /* justify-content: center; */
  }
  
  main section:last-of-type li{
    width: 32%;
  }

}