/* Overzicht van de gebruikte kleuren */
:root{
  --main-color:white;
  --main-bg:red;
  --main-section-border:#e4e4e4;
  --main-span-color:white;
  --main-span-bg:red;
  --main-li-3:black;
  --main-li-last:orange;
  --main-a-hover:black;
  --main-first-p:white;
}

/*kopjes*/

main section:first-of-type ul li section h2{
  position: absolute;
    top: 0;
    color: var(--main-color);
    margin: 1em;
    font-size: 2em;
}

main section:first-of-type ul li section a{
  position: absolute;
    color: var(--main-color);
    background-color: var(--main-bg);
    display: block;
    top: 3em;
    margin: 2em;
}

main section:first-of-type p{
  margin: 1em 1em 2em 1em;
}


main section:nth-of-type(2) ul {
    list-style: none;
    padding: 0;
    border-bottom: 2px solid var(--main-section-border);
    margin: 0.5em;
}

main section:nth-of-type(2) ul li{
   display: flex;
    flex-direction: column;
}

main section:nth-of-type(2) ul li img{
    width: 100%;
    text-align: center;
    order: 100;    
}

main section:nth-of-type(2) ul h2{
    text-align: center;
    order: 300;
}

main section:nth-of-type(2) ul p{
    text-align: center;
    font-size: 12.6px;
    padding: 1em;
    order: 500;
}

main section:nth-of-type(2) ul li a{
    text-align: center;
    justify-content: center;
    position: relative;
    width:100%;
    aspect-ratio:100/55;
    background-size: 100% auto;
    background-position: center center;
    transition: .3s;
    display:grid;
    place-content: center;
}

main section:last-of-type li:hover a{
  background-size: 110% auto;
}

main section:nth-of-type(2) ul li:nth-of-type(1) a{
    background-image: url("../images/proces.png");
}

main section:nth-of-type(2) ul li:nth-of-type(2) a{
    background-image: url("../images/tostichef.png");
}

main section:nth-of-type(2) ul li:nth-of-type(3) a{
    background-image: url("../images/colombia.png");
}

main section:nth-of-type(2) ul li:nth-of-type(4) a{
    background-image: url("../images/news.png");
}

main section:nth-of-type(2) ul li:nth-of-type(5) a{
    background-image: url("../images/news2.png");
}

main section:nth-of-type(2) ul li:nth-of-type(6) a{
    background-image: url("../images/news3.png");
}

main section:first-of-type ul li section p{
  display: none;
} 

main section:first-of-type ul li p{
  display: block;
} 

main section:nth-of-type(2) ul a span{
  display:block;
  color: var(--main-span-color);
  background-color: var(--main-span-bg);
  padding:.25em;
  text-transform: uppercase;
}

main section:last-of-type li:nth-of-type(3) a span{
  background-color: var(--main-li-3);
}

main section:last-of-type li:last-of-type a span{
  background-color: var(--main-li-last);
}

main section:nth-of-type(2) ul a span::after {
  content:attr(data-txt);
}


main section:nth-of-type(2) ul li a:hover span {
  background-color: var(--main-a-hover);
}

main section:nth-of-type(2) ul a:hover span::after {
  content:attr(data-hvr);
}
  
body {
	grid-template-columns: minmax(auto, var(--maxWidth));
	justify-content:center;
}

  
/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	--caroCarrouselMainColor:#333;
  --caroCarrouselAccentColor:#1b75b3;
	--caroCarrouselShadeColor:#ddd9;
  --caroCarrouselInverseColor:#e48a4c;
  
  --caroCarrouselAutoScrollInterval:4000;

  position: relative;
  overflow: hidden; /* om de linkbuttons te verbergen */
	outline:none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .caroCarrousel {
    --caroCarrouselMainColor:#ccc;
    --caroCarrouselShadeColor:#4449;
  }
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth scrollen */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li figure > img {
  display: block;
  width: 100%;
}

.caroCarrousel > ul li section{
  position: relative;
}

/* .caroCarrousel > ul li figure{
  height: 15em;
} */

/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 50%; 
	bottom: 0;
	margin: 0;
  padding: 0 0 .5em;
  list-style: none;
	
	display: flex;
/* 	flex-wrap:wrap; */
  justify-content: center;
  gap:.4em;
    width: 1em;
    height: 1em;
}

/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: 1.2em;
	aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width:100%;
  height:100%;
  
  text-decoration: none;
	color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
	border-radius: 50%;
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  
  transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}


/****************************/
/* PREV EN NEXT LINKBUTTONS */
/****************************/
.caroCarrousel > a {
  position: absolute;
  width: 3em;
  aspect-ratio:1/1;
	top: calc(50% - 1.5em);
  color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  display:grid;
  place-items:center;
  transition: 0.5s;
}

/* initieel staan de links "buiten beeld" */
.caroCarrousel > a[href="previous"] {
  left:-3.5em;
}
.caroCarrousel > a[href="next"] {
  right: -3.5em;
}

/* bij hover en focus schuiven de links in beeld */
.caroCarrousel:hover > a[href="previous"],
.caroCarrousel:focus-within > a[href="previous"] {
  left:.5em;
}
.caroCarrousel:hover > a[href="next"],
.caroCarrousel:focus-within > a[href="next"] {
  right:.5em;
}

/* prev en next linkbuttons pijltjes */
.caroCarrousel > a::before,
.caroCarrousel > a::after {
  content: "";
  position: absolute;
  width: 1em; height: 4px;
  background-color: currentColor;
}

.caroCarrousel > a[href=previous]::before {
	transform-origin: 2px center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=previous]::after {
	transform-origin: 2px center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a[href=next]::before {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=next]::after {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a:hover,
.caroCarrousel > a:focus {
  color: var(--caroCarrouselAccentColor);
}


/*********************/
/* PLAY/PAUSE BUTTON */
/*********************/

.caroCarrousel > button {
  position: absolute;
  right: .5em;
  bottom: .5em;
  
  width: 1.2em;
  aspect-ratio:1/1;
  padding:0;
  
  font-size:inherit;
  appearance: none;
  background-color: var(--caroCarrouselShadeColor);

  border: none;
	outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
	cursor: pointer;
	
  transition: 0.5s;

	display: flex;
  justify-content: center;
	align-items: center;
}

.caroCarrousel > button:hover,
.caroCarrousel > button:focus {
  color: var(--caroCarrouselAccentColor);
}

/* play/pause button */
.caroCarrousel > button::before,
.caroCarrousel > button::after {
  content: "";
  position: absolute;
  width: .5em; height: 2px;
  background-color: currentColor;
  transform-origin: calc(100% - 1px) center;
  transition:transform 0.5s;
}

/* indien niet aan het auto-scrollen */
/* de streepjes vormen een play-icoon */
.caroCarrousel > button::before {
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > button::after {
	transform: translateY(0) rotate(-45deg);
}

/* indien aan het auto-scrollen */
/* de streepjes vormen een pauze-icoon */
.caroCarrousel.autoScrolling > button::before {
	transform: translateY(-2px);
}
.caroCarrousel.autoScrolling > button::after {
	transform: translateY(2px);
}

/* in de button draait een 'eierwekker' */
.caroCarrousel.autoScrolling > button {
  display: none;
	animation-name: carrouselAutoScrollingButton;
  animation-duration: calc(var(--caroCarrouselAutoScrollInterval) * 1ms);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes carrouselAutoScrollingButton {
	0%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 0%, transparent 0%); }
	2%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 2%, transparent 0%); }
	4%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 4%, transparent 0%); }
	6%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 6%, transparent 0%); }
	8%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 8%, transparent 0%); }
	
	10%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 10%, transparent 0%); }
	12%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 12%, transparent 0%); }
	14%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 14%, transparent 0%); }
	16%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 16%, transparent 0%); }
	18%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 18%, transparent 0%); }

	20%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 20%, transparent 0%); }
	22%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 22%, transparent 0%); }
	24%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 24%, transparent 0%); }
	26%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 26%, transparent 0%); }
	28%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 28%, transparent 0%); }

	30%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 30%, transparent 0%); }
	32%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 32%, transparent 0%); }
	34%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 34%, transparent 0%); }
	36%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 36%, transparent 0%); }
	38%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 38%, transparent 0%); }

	40%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 40%, transparent 0%); }
	42%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 42%, transparent 0%); }
	44%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 44%, transparent 0%); }
	46%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 46%, transparent 0%); }
	48%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 48%, transparent 0%); }

	50%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 50%, transparent 0%); }
	52%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 52%, transparent 0%); }
	54%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 54%, transparent 0%); }
	56%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 56%, transparent 0%); }
	58%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 58%, transparent 0%); }

	60%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 60%, transparent 0%); }
	62%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 62%, transparent 0%); }
	64%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 64%, transparent 0%); }
	66%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 66%, transparent 0%); }
	68%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 68%, transparent 0%); }

	70%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 70%, transparent 0%); }
	72%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 72%, transparent 0%); }
	74%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 74%, transparent 0%); }
	76%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 76%, transparent 0%); }
	78%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 78%, transparent 0%); }

	80%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 80%, transparent 0%); }
	82%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 82%, transparent 0%); }
	84%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 84%, transparent 0%); }
	86%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 86%, transparent 0%); }
	88%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 88%, transparent 0%); }

	90%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 90%, transparent 0%); }
	92%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 92%, transparent 0%); }
	94%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 94%, transparent 0%); }
	96%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 96%, transparent 0%); }
	98%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 98%, transparent 0%); }
	
	100%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 100%, transparent 0%); }
}





@media screen and (min-width: 44em) {
  .caroCarrousel > ul li section figure {
    height: 26em;
}

  main section:last-of-type ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
  }
  
  main section:last-of-type li{
    width: 49%;
  }

  main section:first-of-type ul li section p{
    display: block;
    position: absolute;
    color: var(--main-first-p);
    display: block;
    top: 3em;
    margin: 2em;
    font-size: 1.2em;
    width: 35%;
  } 

  main section:first-of-type ul li section a{
    top: 12em;
  }

  main section:first-of-type ul li p{
    display: none;
  } 
}

/* Responsive */
@media screen and (min-width: 60em) {
  main section:last-of-type ul{
    gap: 2%;
    margin: 2em 5em 2em 5em;
    border-bottom: 0;
  }
  
  main section:last-of-type li{
    width: 32%;
  }

}