/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
      margin: 0;
      padding: 0;

  }

  header{
    text-transform: uppercase;
  }
  
  button, summary {
      cursor: pointer;
    background-color: none;
    border: none;
  }
  
  ul{
    list-style-type: none;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  :focus{
    border-color: orange;
  }

  h2{
      font-size: 1.3em;
  }

  
  iframe{
    width: 100%;
    height: 20em;
  }
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#111;
      --color-background:#eee;
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */
  
  body{
  /*    font-family: helvetica, sans-serif;*/
      /* font-family: 'Montserrat', sans-serif; */
      font-family: 'Noto Sans', sans-serif;
  }
  
  header{
      border-bottom: 2px solid #e4e4e4;
      width: 100%;
      position: fixed;
      top: 0;
      background-color: white;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  header img{
    height: 2em;
  }
  
  header nav{
    display: flex;
    position: fixed;
    background-color:#e4e4e4;
    width: 87%;
    inset: 0;
    transition: .3s;
    transform: translateX(-100%);
  }
  
header a svg{
    background-color: white;
    display: none;
}

  .toon-menu{
    transform: translateX(0%);
    
  }
  
  header ul{
    width: 100%;
  }
  
  header li{
    padding: 1em;
    background-color: white;
    width: 100%;
    border-bottom: 2px solid #e4e4e4;
  }
  
  header li:last-of-type{
      margin-top: 1em;
  }

  header li:first-of-type{
    background: transparent;
  
  }
  
  header li form input{
    width: 100%;
    padding: 0.5em;
    border-radius: 1em;
  }
  
  header button{
    border-left: 2px solid #e4e4e4;
    padding: 1em;
   
  }


  /*Footer*/
footer{
    background-color: #f3f3f3;
    padding: 0;
    margin-bottom: -1em;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

footer section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
}

footer section a{
    text-decoration: underline;
}

footer section:last-of-type ul a{
  width: 2em;
  height: auto;
  aspect-ratio: 1/1;
}

footer section:last-of-type ul:last-of-type{
  display: flex;
  gap: 0.2em;
}

footer section form{
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

footer section form input{
  height: 2em;
  text-align: center;
  padding: 1em;
}

footer section form button{
  background-color: black;
  color: white;
  height: 2.2em;
 width: 5em;
  
}

footer h2,a{
  text-align: center;
}

footer section:nth-of-type(2){
    margin-top: 3em
}

footer section:nth-of-type(2) section{
    display: flex;
}

footer section:nth-of-type(2) section ul:last-of-type{
    flex-direction: column;
}

/* Media query */
