/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
      margin: 0;
      padding: 0;
  }

  :root{
    --color-text:#111;
    --color-background:#eee;
    --header-nav:#eee;
    --header-li:white;
    --header-ul:white;
    --header-bg:white;
    --header-button:white;
    --p-color:#6F6464;
    --a-color:black;
    --focus-border-color:orange;
    --footer-bg:#f3f3f3;
    --footer-button-bg:black;
    --footer-button-color:white;
  }

  :focus{
    border-color:var(--focus-border-color);
  }

  a:active{
    color: purple;
  }

/*verborgen*/
h1{
    position: fixed;
    left:-999999em;
    top: 0;
}

p{
    color: var(--p-color);
}
  
button, summary {
    cursor: pointer;
    background-color: none;
    border: none;
}
  
ul{
    list-style-type: none;
}
  
a{
    text-decoration: none;
    color: var(--a-color);
}

h2{
    font-size: 1.3em;
}

iframe{
    width: 100%;
    height: 20em;
  }


  
  


  body{
      font-family: 'Noto Sans', sans-serif;
  }
  
  /* Begin header */

  header{
      width: 100%;
      position: fixed;
      top: 0;
      background-color: var(--header-bg);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
  }
  
  header img{
    height: 2em;
  }
  
  header nav{
    display: flex;
    position: fixed;
    width: 87%;
    background-color:var(--header-nav);
    inset: 0;
    transition: .3s;
    transform: translateX(-100%);
  }
  
header a svg{
    display: none;
}

.toon-menu{
    transform: translateX(0%);
}
  
header ul{
    width: 100%;
}
  
header li{
    padding: 1em;
    width: 100%;
    background-color: var(--header-li);
}
  
header li:last-of-type{
    margin-top: 1em;
}

header li:first-of-type{
    background: transparent;
}
  
header li form input{
    width: 90%;
    padding: 0.5em;
    border-radius: .5em;
}
  
header div button{
    display: none;
}

  header div button:first-of-type{
    padding: 1em;
    display: block;
  }

header nav ul li form input{
    background-image: url("../images/zoek.svg");
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: 3em;
    background-position-x: 0.5em;
    background-position-y: 0.2em;
}

 /* Main */ 
  main{
    position: relative;
    margin-top: 3em;
}


  /* Footer */
footer{
    background-color: var(--footer-bg);
    padding: 0;
    margin-bottom: -1em;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
  
}

footer section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
}

footer section a{
    text-decoration: underline;
}

footer section:last-of-type ul a{
  width: 2em;
  height: auto;
  aspect-ratio: 1/1;
}

footer section:last-of-type ul:last-of-type{
  display: flex;
  gap: 0.2em;
}

footer section form{
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

footer section form input{
  height: 2em;
  text-align: center;
  padding: 1em;
}

footer section form button{
  background-color: var(--footer-button-bg);
  color: var(--footer-button-color);
  height: 2.2em;
 width: 5em;
  
}

footer h2,a{
  text-align: center;
}

footer section:nth-of-type(2){
    margin-top: 3em
}

footer section:nth-of-type(2) section{
    /* display: flex; */
    flex-direction: column;
    /* align-items: revert; */
}

footer section:nth-of-type(2) section ul:last-of-type{
    flex-direction: column;
}

footer section:last-of-type ul li a:first-of-type{
    background-image: url(/assets/svg/facebook-social-f5ab217b47c1bec9384f34f4a421a3c396cbfbfe3848dcd544bbf0e42d4af633.svg);
}

/* Media query */
@media screen and (min-width: 44em) {
    main nav{
        display: none;
      }
    
    footer{
        flex-direction: row;
        align-items: top;
      }
      footer section:nth-of-type(2) section{
        display: flex;
        flex-direction: revert;
        align-items: revert;
    }
}

    @media screen and (min-width: 60em) {
        header{
          position: absolute;
          padding: 1.5em;
          justify-content: space-between;      
        }
        
        
        header nav{
          position: static;
          transform: translateX(0%);
          display: flex;
          flex-grow: 1;
        }
        
        header nav ul{
          flex-direction: row;
          display: flex;
          height: unset;
          margin-right: auto;
          justify-content: center;
          background-color: var(--header-ul);
          gap: 2em;
        }
      
        header nav ul li{
          width: auto;
          padding: 0;
          border-bottom: 0;
        }
        header nav ul form{
          display: none;
        }
      
        header nav ul li:last-of-type{
          display: none;
        }

        header div{
            display: flex;
        }

        header div button{
            display: block;
            width: 6em;
            font-size: 1em;
            background-color: var(--header-button);
            text-transform: uppercase;
        }

        header div button:first-of-type{
            display: none;
        }
            
        header a svg{
            display: block;
        }
            
        main{
            margin-top: 5em;
        }
    }